dist
node_modules
.env

.eslintcache
.vscode
.DS_Store
.log

coverage/
coverage/*
bundle-stats.html
lighthouse-report.html
lighthouse-report.json

TODO.md
docs/TODO.md
lint.log
test.log
